{% extends "layout.html" %}
{% block content %}
    {% if user %}
            <h3>Bent is vagy az oldalon {{ user }} :)</h3>
            <h4>Az eddig regisztrált krampuszok listálja:</h4>
            <div class="container">
                <ul>
                    {% for u in users %}
                    <li class="nameli">{{ u }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% if ready %}
                {% if pair %}
                    <h3>A párod nem más mint:</h3>
                    <h1 class="nevpar">{{ pair }}</h1>
                    <img src="{{url_for('static', filename='spongebob.jpg')}}">
                {% else %}
                    <h4>Mehet a menet!</h4>
                    <a class="btn btn-danger" href="{{url_for('home', name='rdy')}}">Húzok</a>
                {% endif %}
            {% else %}
                <h4>Még nincs itt mindenki:(</h4>
                <img src="{{url_for('static', filename='spongesad.jpg')}}">
            {% endif %}
    {% else %}
        <div class="row">
            <div class="col-md">
                <div class="pressie">
                    <div class="cover"></div>
                    <div class="wrap"> </div>
                    <div class="ribbon"></div>
                </div>
                <div class="tree">
                    <div class="base"> </div>
                    <div class="layer">
                        <div class="line"> </div>
                        <div class="bauble one"></div>
                    </div>
                    <div class="layer two">
                            <div class="line two"> </div>
                            <div class="bauble two"></div>
                            <div class="socks"> 
                            <div class="top"> </div>
                            <div class="foot"></div></div>
                    </div>
                    <div class="layer three">
                        <div class="line three"> </div>
                        <div class="bauble three"></div>
                        <div class="socks two">
                            <div class="top"> </div>
                            <div class="foot two"></div>
                        </div>
                    </div>
                    <div class="layer four">
                            <div class="bauble four"></div>
                            <div class="star two"></div>
                            <div class="line four"> </div> 
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <h3 id="asd">Üdvözöllek a névhúzás fellegvárában!</h3><br/>
                <h6 id="asd">Ha szándékosan érkeztél ugorj el regisztrálni és ne feledd a megkapott VIP kódot!</h6>
                <h6 id="asd">Ha nem tudod mi ez a hely simizd meg a fát, és távozz.</h6><br/>
                <img src="{{url_for('static', filename='socks.png')}}" style="width:80%">
            </div>
        </div>
    {% endif %}
{% endblock %}